@import "~@/index";

.global-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .menu-wrap {
    height: 100%;

    .logo-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 64px;
      padding: 0 10px;

      .logo-img {
        width: 100%;
        max-width: 140px;
      }

      .title {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .site-layout {
    height: 100%;

    .ant-layout-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      padding: 0 40px 0 20px;
      font-size: 20px;
      background-color: #fff;
      border-bottom: 1px solid #f6f6f6;
    }

    .ant-layout-content {
      display: flex;
      flex-direction: column;

      .ant-breadcrumb {
        padding: 10px 30px;
        background: #fff;
      }

      .main-wrap {
        flex: 1;
        width: 100%;
        height: 100%;
        padding: 10px 13px;

        .main {
          width: 100%;
          height: 100%;
          padding: 20px;
          overflow: auto;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 0 2px 12px 0 rgba(#000, 0.1);
        }
      }
    }

    .ant-layout-footer {
      padding: 5px 13px;
      text-align: center;
      background: #fff;
    }
  }

  .ant-layout-sider {
    & ::-webkit-scrollbar {
      background-color: #001529;
    }

    & ::-webkit-scrollbar-thumb {
      background-color: #41444b;
    }
  }
}
